body {
  padding: 20px;
}

section {
  max-width: 500px;
  margin: auto;
  padding: 15px;
  border: 1px solid rgb(162, 162, 162);
  box-shadow: 1px 1px 5px rgb(162, 162, 162);
  border-radius: 5px;
}

div#set-dados {
  border: 1px dashed rgb(162, 162, 162);
  margin-bottom: 15px;
}

div#select-calc {
  padding: 10px;
  text-align: center;
}

div#dados-in {
  padding: 10px;
}

div#resultado > p {
  margin: 0;
}

img.like {
  filter: grayscale(100%);
}

header {
  text-align: center;
}

footer {
  text-align: center;
  padding: 15px;
}

footer > p > a > img {
  width: 25px;
}
